
DATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DB_NAME?retryWrites=true&w=majority"

MONGODB_DB="DB_NAME"

JWT_SECRET="r0i5jigrijngguehorugh5ythq94j9t5gtfiuq5hguhqifjkjfnqiy5thi35nfi32hti2thiu25hy34h5yiu5tj5yh348th32igf32if4ugbfiu3rdnug4"

PORT=4000


CLIENT_URL="http://localhost:3000"
